
//
// VARIABLES
//

// Colors
$orange: #ca781b;

// Grays
$black: #1f1e1e;
$darkerGray: #1e1e24;
$darkGray: #353535;
$gray: #666;
$lightGray: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}